<!-- <h2> Select Committee </h2>
<select (change)="selectCommittee($event.target.value)"> 
	<option *ngFor="let c of committees" value={{c}}> {{c}} </option>
</select>
<h2> Select SubCommittee </h2>
<select (change)="getMembers($event.target.value)"> 
	<option *ngFor="let s of subs" value={{s}}> {{s}} </option>
</select> -->
<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <div ng-include src="'/navbar'"> </div>
        <title>Please enter committee information</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <div class="container">
            <div class="jumbotron">
                <div ng-controller="CommitteeController">
                    <p>
                    Select a Committee
                    </p>
                     <select name="committeeDrop" ng-model="committeeDrop" ng-options="x.committee_id for x in committeeDropDown" ng-change="populateSubDrop()">
                     </select>
                     <p>
                    Select a SubCommittee
                    </p>
                     <select name="subDrop" ng-model="subDrop" ng-options="x.subcommittee for x in subcommitteeDropDown">
                     </select>
                     <button type="button" ng-click="Inform()" class="button">Inform Me</button>

                    <div class="container">
                        <div class="jumbotron">
                            <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-sort"></span> Who is in the closest race?
                            </p>

                            <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
                                <tr> 
                                <td> First Name </td>
                                <td> Last Name </td>
                                <td> Win Probability </td>
                                <tr ng-repeat="x in Cdata"> 
                                <td> {{x.firstname}} </td>
                                <td> {{x.lastname}} </td>
                                <td> {{x.winProbability}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="container">
                        <div class="jumbotron">
                            <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-user"></span> Who is least likely to be reelected?  
                            </p>
        
                            <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
                                <tr> 
                                <td> First Name </td>
                                <td> Last Name </td>
                                <td> State </td>
                                <td> District </td>
                                <tr ng-repeat="x in Ldata"> 
                                <td> {{x.firstname}} </td>
                                <td> {{x.lastname}} </td>
                                <td> {{x.state}} </td>
                                <td> {{x.district}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>



                    <div class="container">
                        <div class="jumbotron">
                            <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-earphone"></span>
                            Contact Committee Members
                            <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
                                <tr> 
                                <td> First Name </td>
                                <td> Last Name </td>
                                <td> State </td>
                                <td> District </td>
                                <tr ng-repeat="x in Adata"> 
                                <td> {{x.firstname}} </td>
                                <td> {{x.lastname}} </td>
                                <td> {{x.state}} </td>
                                <td> {{x.district}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>