<!-- <h2> Select Committee </h2>
<select (change)="selectCommittee($event.target.value)"> 
	<option *ngFor="let c of committees" value={{c}}> {{c}} </option>
</select>
<h2> Select SubCommittee </h2>
<select (change)="getMembers($event.target.value)"> 
	<option *ngFor="let s of subs" value={{s}}> {{s}} </option>
</select> -->
<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <div ng-include src="'/navbar'"> </div>
        <title>Please enter committee information</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
          <div class="container">
        
            <div class="jumbotron">
                <div ng-controller="closestCommitteeController">
                    <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Who is in the closest committee race?  If no specific subcomittee, leave blank:
                    </p>
            Committee Code: <input type="text" name="comcode" ng-model="comcode" value=""/></br>
            Subcomittee Code: <input type="text" name="subcomcode" ng-model="subcomcode" value=""/></br>
            <button type="button" ng-click="GetClosestRace()" class="button">Show Closest Committee Race</button></br>

                    <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
                        <tr> 
                        <td> First Name </td>
                        <td> Last Name </td>
                        <td> Win Probability </td>
                        <tr ng-repeat="x in Cdata"> 
                        <td> {{x.firstname}} </td>
                        <td> {{x.lastname}} </td>
                        <td> {{x.winProbability}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
           
            <div class="jumbotron">
         <div ng-controller="leastLikelyCommitteeController">
        <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Who is least likely to be reelected to a given committee?  If no specific subcomittee, leave blank:
        </p>
            Committee Code: <input type="text" name="comcode" ng-model="comcode" value=""/></br>
            Subcomittee Code: <input type="text" name="subcomcode" ng-model="subcomcode" value=""/></br>
            <button type="button" ng-click="GetLeastLikely()" class="button">Show Least Likely Person</button></br>
        
        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
            <tr> 
            <td> First Name </td>
            <td> Last Name </td>
            <td> State </td>
            <td> District </td>
            <tr ng-repeat="x in Ldata"> 
            <td> {{x.firstname}} </td>
            <td> {{x.lastname}} </td>
            <td> {{x.state}} </td>
            <td> {{x.district}} </td>
            </tr>
        </table>
        </div>
        </div>
        </div>

        <div class="container">
        <div class="jumbotron">
            <div ng-controller="allMembersOnCommitteeController">
                <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Enter committee information to see all members on committee.  If no specific subcomittee, leave blank:
                </p>
            Committee Code: <input type="text" name="comcode" ng-model="comcode" value=""/></br>
            Subcomittee Code: <input type="text" name="subcomcode" ng-model="subcomcode" value=""/></br>
            <button type="button" ng-click="GetAllMembers()" class="button">Show All Members</button></br>
      
        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center"> 
            <tr> 
            <td> First Name </td>
            <td> Last Name </td>
            <td> State </td>
            <td> District </td>
            <tr ng-repeat="x in Adata"> 
            <td> {{x.firstname}} </td>
            <td> {{x.lastname}} </td>
            <td> {{x.state}} </td>
            <td> {{x.district}} </td>
            </tr>
        </table>
          </div>
    </body>
</html>