        <style>
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0;
                width: 100%;
                background: #3b8ec2;
                text-decoration: none;
            }

            a {
                text-decoration: none;
            }

            li {
                float: left;
                text-decoration: none;
            }

            li a {
                display: block;
                color: white;
                background: #3b8ec2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #3f9fff;
                text-decoration: none;
            }

            h1 {
                font-size: 45px;
            }

            .images {
                style: inline;
            }
        </style>
            
   
            <div class="container" style="width: 100%">
            <h1> Welcome to American Politics! </h1>
                        <ul>
                            <li><a href="/" style="text-decoration: none">Home</a></li>
                            <li><a href='/numreps' style="text-decoration: none" >Reps Per State</a></li>
                            <li><a href="/run" style="text-decoration: none"> Who's Running?</a></li>
                            <li><a href="/tight" style="text-decoration: none">Tight Race Watch</a></li>
                            <li><a href="/committee" style="text-decoration: none">Committee Races</a></li>
                        </ul>
            </div>
        
 