        <style>
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                position: -webkit-sticky; /* Safari */
                position: sticky;
                top: 0;
                width: 100%;
                background: tan;
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                background: tan;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #4CAF50;
                text-decoration: none;
            }

            h1 {
                font-size: 45px;
            }

            .images {
                style: inline;
            }
        </style>
        <nav style="width:100%">
            <div class="container" style="width: 100%">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Welcome to Politics!</a></div>
                    <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href='/numreps'>Reps Per State</a></li>
                    <li><a href="/run">Who's Running?</a></li>
                    <li><a href="/tight">Tight Race Watch</a></li>
                    <li><a href="/committee">Committee Races</a></li>
                    </ul>
            </div>
        </nav>
 