<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <div ng-include src="'/navbar'"> </div>
        <title>Politics</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/global.css">
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
         <div class="container">
            <!-- Main component for a primary marketing message or call to action-->
            <div class="jumbotron">
                <div ng-controller="runningController">
                    <p>
                    Select a State
                    </p>
                    <div class="styled-select blue rounded">
                     <select name="stateDrop" ng-model="stateDrop" ng-options="x.state_fullname for x in stateDropDown" ng-change="PopulateDistrictDrop()">
                     </select>
                     </div>
                     <p>
                    Select a District
                    </p>
                    <div class="styled-select blue rounded">
                     <select name="districtDrop" ng-model="districtDrop" ng-options="x.district for x in districtDropDown">
                     </select>
                     </div>
                    <button style="margin-left:60px" type="button" ng-click="Running()" class="blue">
                        Show Candidates!
                    </button></br>
        
        <table border="0" cellpadding="10" cellspacing="1" width="500" align="center" id="data"> 
            <tr> 
            <td> First Name </td>
            <td> Last Name </td>
            <td> Party </td>
            <td> Win Probability </td>
            <td> Is Incumbent </td>

            <tr ng-repeat="x in rundata"> 
            <td> {{x.firstname}} </td>
            <td> {{x.lastname}} </td>
            <td> {{x.party}} </td>
            <td> {{x.winProbability}} </td>
            <td> <div ng-if="x.isIncumbent == 1"> INCUMBENT </td>
            </tr>
        </table>
        </div>
    </body>
</html>
