 <!-- Header -->
 <div class="container">
    <div class="row">
   
        <img class="img-responsive" style="margin-top: 20px;" src="../../assets/12.png" alt="Chania">
      
    </div>
  </div>  
  
    <!-- Header -->
    <div class="container">
      <div class="row" style="margin-top:50px;">
        <div class="col-md-8">
            <h1  class="set-weight" style=" 
                    color:black;"> 
                      PENNSYLVANIA
                    </h1>
                    <div class="div-design" style="margin-left:50px;">
                        <h1  style=" font-style: italic;
                        color: red;" class="set-weight"> 
                            District 1
                        </h1>
                        <div>
                            <h3 class="set-dist"> Democratic - Sally Yates  </h3>
                            <h3 class="per-dist"> 51%  </h3>
                        </div>
                        <div>
                            <h3 class="set-dist"> Republican - Ben Walsh </h3>
                            <h3 class="per-dist"> 49%  </h3>
                        </div>
                      
                      
                     </div>
                     <div class="div-design" style="margin-left:50px;">
                        <h1  style=" font-style: italic;
                        color: green;" class="set-weight"> 
                            District 1
                        </h1>
                        <div>
                            <h3 class="set-dist"> Democratic - Sally Yates  </h3>
                            <h3 class="per-dist"> 51%  </h3>
                        </div>
                        <div>
                            <h3 class="set-dist"> Republican - Ben Walsh </h3>
                            <h3 class="per-dist"> 49%  </h3>
                        </div>
                      
                      
                     </div>

        </div>
            
      </div>
  
    </div>
  
  
   