<!--The content below is only a placeholder and can be replaced.-->
<script src="./backend.js"></script>
<div style="text-align:center">
  <h1> Welcome to </h1>
  <div style="margin-top: -120px">
	  <img width="300" src="./assets/flag.png">
	  <img width="300" src="./assets/politics.png">
	  <img width="300" src="./assets/flag.png">
  </div>
</div>


<ul>
  <li><a href="">Home</a></li>
  <li><a href="/run">Who's Running?</a></li>
  <li><a href="/tight">Tight Race Watch</a></li>
  <li><a href="/contact">Contact Your Reps</a></li>
  <li><a href="/committee">Committee Races</a></li>
</ul>

<router-outlet> </router-outlet>