 <!-- Header -->
 <div class="container">
    <div class="row">
   
        <img class="img-responsive" style="margin-top: 20px;" src="../../assets/12.png" alt="Chania">
      
    </div>
  </div>  
  
    <!-- Header -->
    <div class="container">
      <div class="row" style="margin-top:100px;">
        <div class="col-md-6">
            <h1  class="set-weight" style=" 
                    color: black;"> 
                      PENNSYLVANIA
                    </h1>
            <h1 class="set-weight" style=" 
            color: black;">
              District 3
            </h1>     
                
             <div style="text-align: center;">
                         <h2 style=" 
                         color: black;"> D - Sally Yates</h2>
                         <h2 style=" 
                         color: black;"> R - Ben Walsh</h2>
             </div>

        </div>
             <div class="col-md-6 margin-top style-md-4"> 
               <div class="div-design">
                    <h1 style=" font-style: italic;
                    color: black;" class="set-weight"> 
                      Sally Yates
                    </h1>
                    
                    <h3> 500 Washington Way, <br> Washington, DC 12345 </h3>
                    <h3>(123) 456-7890 <br> sally@yates.com </h3>
                    <h3>http://sallyateme.com </h3>
                 </div>
             </div>
      </div>
  
    </div>
  
  
   