 <!-- Header -->
 <div class="container">
  <div class="row">
 
      <h1 class="text-uppercase mb-0" style="text-align: center; margin-bottom: 100px; margin-top: 80px;">Easily Look Into ...</h1>
  </div>
</div>  

  <!-- Header -->
  <div class="container">
    <div class="row">
           <div class="col-md-4 style-md-4"> 
                  <h2> 
                    Who's Running
                  </h2>

                  <div>
                      <img class="img-responsive img-center" src="../../assets/1.png" alt="Chania">
                  </div>
           </div>
           <div class="col-md-4 style-md-4"> 
            <h2> 
              Tight Races
            </h2>

            <div>
                <img class="img-responsive img-center" src="../../assets/2.png" alt="Chania">
              
            </div>
     </div>
     <div class="col-md-4 style-md-4"> 
      <h2> 
         Committee Members
      </h2>

      <div>
          <img class="img-responsive img-center" src="../../assets/3.png" alt="Chania">
        
      </div>
</div>
    </div>

  </div>


 