h1{
    color: white;
}
h2{
    color: white;
}

img{
    border-radius: 100%; 
}

.style-md-4{
    text-align: center;
}
.img-center{
    margin: auto;
}

.dis{
    display: none;
}
.dis { display: none;}